
    /*<!--  
     Variáveis de configuração  
     Troque as variáveis abaixo  
    <script>
      const VARS = {
        GA_ID: "G-XXXXXXX", // ID do GA4
        DOMAIN: "https://SEU_DOMINIO.com", // Domínio final
        FORM_ENDPOINT: "https://formspree.io/f/SEU_ENDPOINT", // Endpoint do Formspree
      };
    </script>

     Google tag (gtag.js) 
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", VARS.GA_ID);
    </script>
    
    -->*/